@import '../../variables';

.service-ppal{
  height: 100%;
}

.service-title{
  background-color: $color-4;
  display: flex;
  text-align: center;
}

.serv-ppal{
  height: calc(100vh - 56px + 12px);
  padding: 0 !important;
  background-color: $color-4;
  display: flex;
  flex-wrap: wrap;  



  .serv-div1{
    width: 50%;
    height: 50vh;
    padding: 20px;
    
    img{
      width: 400px;
      height: 400px;
    }
  }
  
  .serv-div2{
    width: 50%;
    height: 80vh;
    background-color: $color-4;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
    
    
    

    .serv-card{
      display: flex;
      flex-direction: row;
      padding: 10px;
      width: 300px;
      height: 200px;
      background-color: $color-5;
      border-radius: 25px;
      text-align: center;
      img{
        width: 9.5rem;
        height: 10rem;
        border-radius: 25px;
      }
    }
    .serv-card:hover{
 
      border: 2px solid white;
    }

  }
}

@media(width < 400px) {
  .serv-div1{
    width: 80vw;
    height: 50vh;
  }
  .serv-div2{
    width: 80vw;
    height: 50vh;

    .serv-card{
      width: 50vw;
    }
  }
}
