.tipoServicios-ppal{
  width: calc((var(--bs-gutter-x)* 1) + 100% - 22px) ;
  height: 100vh;
  margin: 0;

  .section1{
    height: 50vh;
  }
  .section2{
    height: 50vh;
  }
  .section3{
    height: 50vh;
  }
  .section4{
    height: 50vh;
  }
}