@import '../../variables';

.profile-text {
  font-size: $size-1;
}

.profile-gold-text {
  color: $color-3;
  font-size: $size-1;
}

.profile-section {
  min-height: calc(100vh - 85.14px - 80px);
  background-image: url(/images/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-col {
  padding: 0 !important;
}

.use-profile-ppal {
  margin: 40px;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0 0 15px black;
  padding: 20px;
  background-color: $color-2;
}

.profile-img-cont {

  .profile-img {
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-edit {
    width: 10%;
    height: 10%;
    cursor: pointer;
  }
}

