@import '../../variables';

.course-col {
  padding: 0 !important;
}

.visualizador {
  //cambiar los 100px por el tamaño que se le dé a l descripción
  min-height: calc(100vh - 85.14px - 80px - 100px);
  width: 100%;
  //cambiar 70 según altura de la descripción
  height: calc(100% - 70px);
}

.listado-temario {
  background-color: $color-4;
  min-height: calc(100vh - 85.14px - 80px);
  padding: 20px 50px 20px 20px;
}

.course-edit {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.iframe-resources {
  width: 100%;
  height: 500px;
} 

.descript-div {
  background-color: $color-4;
}