.logo-nav {
  width: 150px;
}

.div-nav-der {
  display: flex;
  justify-content: end;
}

.nav-bar-texto {
  display: flex;
  justify-content: end;
}

.custom-navbar-bg {
  background-color: #EFA341;
}