.logo-nav {
  width: 100px;
}

.div-nav-der {
  display: flex;
  justify-content: end;
}

.nav-bar-texto {
  display: flex;
  justify-content: end;
}

.custom-navbar-bg {
  background-color: #EFA341;
}

.masala-text {
  color: #784019;
  font-weight: bold;
}

.head-text {
  color: #F7C86D;
  font-weight: bold;
}

.nav-alinear1 {
  padding-left: 38px;
}

.nav-alinear2 {
  padding-right: 38px !important;
}

.navbar-avatar{
  background-color: rgba(179, 154, 108, 0.543);
  color: white;
  
  text-align: center;
  span{
    font-size: 2rem;
  }
  img{
   width: 50px; 
   border-radius: 50%;
  }

}
