@import '../../variables';

.col-myGrades {
  padding: 0 !important;

}

.myGrades-ppal {
  min-height: calc(100vh - 85.14px - 80px);
  margin-top: 85.14px;
}

.text-grade {
  font-size: 1.2rem !important;
}